.botao{
	display: inline-block;
	text-align: center;
	font-size: 14px;
	padding: 10px;
	height: 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	background: #4267B2;
	float: left;
	font-family: Lucida Grande, Tahoma;
}

.botao:hover{
	cursor: pointer;
	background-color: #3B5CA0;
	color: white;
}

.fundo{
	width: 600px;
	height: 30px;
	padding: 10px;
	border-bottom: 10px solid;
	border-bottom-color: #4267B2;
	background-color: #4267B2;
}

.separador {
  height: 40px;
  float: left;
  border-left: 1px solid;
  border-color: #3B5CA0;
}